
*{
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 14px;
  margin: 7px auto;
  padding: 7px;
  max-width: 1100px;
  background-color: #EAEAAE;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

body>*{
  border-style: double;
}
#aside, #nav{
  background-color: #32CD99;
  width: 200px;
  height: 500px;
}

.header{
  font-size: 46px;
  margin-top: 0;
  text-align: center;
  background-color: #32CD99;
}

.footer{
  font-size: 10px;
  text-align: center;
  background-color: #32CD99;
}

.content{
  font-size: 12px;
  height: 500px;
  width: 670px; 
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  
}

.section{
  border-style: solid;
  display: block;
  margin-top: 5px;
}

.navigation{
  font-size: 12px;
  float: left;
}

article{
  height: 70%;
}


.sidebar{
  font-size: 10px;
  float: right;

  
}

*[class$="r"]{
   background-color: #FF3399!important;
}

*[class*="a"]:not(*[class$="r"]){
   background-color: #0066FF!important;
}