*:not(p[strong]){
	margin: 20px;
}

#title{
	float: left;
	font-size: 20px;
}

.paragraph{
	float: right;
	margin-right: 100px;
	font-size: small;
}

.nav{
	display: inline-block;
	width: 100%;
	margin: 3%;
}

img{
	max-width: 300px;
	max-height: 200px;
}

